name: Build and Push to Self-Hosted Registry

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU (for multi-arch builds)
        uses: docker/setup-qemu-action@v2
        with:
          platforms: all

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to self-hosted registry
        uses: docker/login-action@v3
        with:
          registry: registry.sksushil.info.np
          username: sushil
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Extract version from Git tag
        id: vars
        run: |
          VERSION=${GITHUB_REF#refs/tags/}
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            registry.sksushil.info.np/sample-app:latest
            registry.sksushil.info.np/sample-app:${{ env.VERSION }}
